body {
  font-family: 'KoddiUDOnGothic-Regular', sans-serif;
  color: #2C2C2B;
  word-break: keep-all;
}
a {color: #DCFF00;}
a:hover {background-color: #DCFF00; color: #000;}
nav a:hover {background-color: transparent;}
.container-fluid {padding-left: 25px; padding-right: 25px;}
.main-title a {
	font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 80px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;

  color: #2C2C2B;
  text-decoration: none;    
}
ul {
  list-style: none;
  padding: initial;
}
.main-title a:hover {
 background-color: initial; 
}
.info {
  position: absolute;
  bottom: 15px;
}
.info-link {
  color: white;
  text-decoration: none;
}
.box {
	position: relative;
  border: 1px solid #2C2C2B;
  padding: 20px;
  /*margin: 15px;*/
  min-height: 20rem;
  line-height: 33px;
  font-size: 18px;
}
a.box-link {
  color: #2C2C2B;
  text-decoration: none;
}
.badge {
	background-color: #212529;
	border-radius: 0;
}
.box:hover {
	background-color: #212529;
	color: #DCFF00;
	cursor: pointer;
}
.box:hover .badge {
	background-color: #DCFF00;
	color: #212529;
}
.writer {
  position: absolute;
  bottom: 0;
}
.writer span {
  vertical-align: middle;
}
.box-color {
  animation-name: change-box-color;
  animation-duration: 20s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
} 
.text-color {
  animation-name: change-text-color;
  animation-duration: 20s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
} 
.title {
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
} 
.point {color: #DCFF00;}
.modal-box a {
  background-color: #DCFF00;
  color: #2C2C2B;
}
.modal-point {
text-emphasis: '●' #f71b65;
}
.modal-point-plain {
  color: #f71b65;;
}
.add-t-weight {
  border-top: 2px solid #2C2C2B;
}			
.add-b-weight {
  border-bottom: 2px solid #2C2C2B;
}
.add-r-weight {
  border-right: 2px solid #2C2C2B;
}
.add-l-weight {
  border-left: 2px solid #2C2C2B;
}
.flow-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 3s;
}
.flow-text:hover .flow-wrap {
  animation-play-state: paused;
  cursor: pointer;
}
.flow-wrap {
  animation: textLoop 100s linear infinite;
  padding-right: 1.4881vw;
}
@keyframes textLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}	
@keyframes change-box-color {
  25% {
    background-color: #DCFF00;
  }
  40% {
    background-color: #FF00D4;
  }
  60% {
    background-color: #2AFF00;
  }
  80% {
    background-color: #00F2FF;
  }
  100% {
    background-color: #FF5100;
  }
}
@keyframes change-text-color {
  25% {
    color: #DCFF00;
  }
  40% {
    color: #FF00D4;
  }
  60% {
    color: #2AFF00;
  }
  80% {
    color: #00F2FF;
  }
  100% {
    color: #FF5100;
  }
}
.vow_cover {
  background-image: url('images/vow/thumbnail.jpg'); 
  background-size: cover;
}
.invitation_cover {
  background-image: url('images/invitation/thumbnail.jpg'); 
  background-size: cover;
}
.cc_cover {
  background-image: url('images/callingcurling/thumbnail.jpg'); 
  background-size: cover;
}
.graybox_cover {
  background-image: url('images/graybox/thumbnail.jpg'); 
  background-size: cover;
}
.urbanResonance_cover {
  background-image: url('images/urbanResonance/thumbnail.png'); 
  background-size: cover;
}
.box.with_cover:hover {
  background: #212529;
}
/*Modal*/
#invitationModal {
  font-family: 'Noto Serif KR', sans-serif;
  line-height: 35px;
}
#invitationModal a:hover {
  background-color: #DCFF00;
}
#invitationModal .point {
  background-color: #DCFF00;
  color: #2C2C2B;
}
.modal-box {padding: 2rem 0;}
.card {
  border-radius: 0; 
}
.divider {padding-top: 5rem;}
.img-block {
  position: relative;
  display: inline-block;
}
.img-block object {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 5px;
  border-radius: 8%;
  background-color: #ffffff94;
}
.modal .container {
  padding: 2rem 13rem;
}
.carousel {
  width: 70%;
}
.btn-close {
  position: fixed;
  top: 3%;
  right: 13%;  
}
.plain-text {
  font-family: 'KoddiUDOnGothic-Regular', sans-serif;
}
.exit-btn {
  text-decoration: underline;
  position: fixed;
  bottom: 5px;
  right: 13%;
  cursor: pointer;  
}
@media (max-width: 1199.98px) {
  .info {
    position: initial;
    padding-top: 3rem;    
  }
}
@media (max-width: 991.98px) {
  .modal .container {
    padding-right: 30px; 
    padding-left: 30px;
  }
  .carousel {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main-title a {font-size: 65px;}
  .btn-close {
    position: initial;
  }
  .exit-btn {
    position: initial;
  }
}
@media (max-width: 575.98px) {
  .main-title a {font-size: 55px;}
  .box {border: 1px solid !important;}
}
